

$green: #17582c;
$green-light: #76c25b;
$white: #fff;
$dark: #212b36;
$gray: #637381;
$bg-light-gray: #f4f6f8;
$medium-grey: #919eab;
$dark-red: #671301;
$yellow: #f5b041;
$dark-yellow: #6e4400;
$dark-green: #004b50;
$light-green: rgba(240, 255, 250, 1);
$light-dark-green: rgba(0, 167, 111, 0.05);
$light-red: rgba(255, 86, 48, 0.08);
$light-yellow: rgba(245, 176, 65, 0.08);
$body-bg-color: #F0FFFA;

$font-main: "Urbanist", sans-serif;

$card-border: #eee;


$gradient-primary: linear-gradient(135deg, #17582c 0%, #76c25b 100%);
$gradient-reverse: linear-gradient(135deg, #76c25b 0%, #17582c 100%);
$gradient-subtle: linear-gradient(135deg, rgba(23, 88, 44, 0.15) 0%, rgba(118, 194, 91, 0.1) 100%);


.dropdown-item.active,
.dropdown-item:active {
  background-color: $green;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Ensure backdrop appears below other elements */
}

.fl-container {
  max-width: 1320px !important;
}
body {
  background: $body-bg-color;
}
.fl-bg-green {
  background-color: $green;
}
.fl-bg-dark-green {
  background-color: $dark-green;
}
.fl-bg-dark {
  background-color: $dark;
}

.fl-bg-light-dark {
  background-color: $bg-light-gray;
}

.fl-bg-white {
  background-color: $white;
  // background-color: red;
}

.fl-bg-light-green {
  background-color: $light-green;
}
.fl-bg-light-red {
  background-color: $light-red;
}
.fl-bg-light-yellow {
  background-color: $light-yellow;
}

.fl-bg-light-2 {
  background-color: $light-green;
}
.fl-bg-light-0 {
  background-color: $light-red;
}
.fl-bg-light-1 {
  background-color: $light-yellow;
}



.fl-card-border {
  border-color: $card-border !important;
}

.fl-text-green {
  color: $green;
}
.fl-text-white {
  color: $white;
}
.fl-text-dark-green {
  color: $dark-green;
}
.fl-text-gray {
  color: $gray;
}
.fl-text-dark {
  color: $dark;
}

.fl-fs-12 {
  font-size: 0.75rem;
}

.fl-fs-14 {
  font-size: 0.875rem;
}

.fl-fs-16 {
  font-size: 1rem;
}
.fl-fs-18 {
  font-size: 1.125rem;
}
.fl-fs-20 {
  font-size: 1.25rem;
}

.fl-fs-22 {
  font-size: 1.375rem;
}

.fl-text-dark-green {
  color: $dark-green;
}

.fl-fw-600 {
  font-weight: 600;
}

.fl-fw-500 {
  font-weight: 500;
}

.fl-heading-2 {
  font-size: 2rem;
  font-family: $font-main;
}

.fl-ff-main {
  font-family: $font-main;
}

.fl-fit-content {
  width: fit-content;
}

.fl-mt-n-6 {
  margin-top: -6rem;
}

.fl-text-green-hover {
  transition: color 300ms ease-in-out;
  &:hover {
    color: $green !important;
  }
}

.blog-card {
  height: 31.5rem;
}

.fl-dev-img {
  width: 7rem;
}

.fl-card-shadow {
  border-radius: 8px !important;
  border: 0.5px solid $card-border;
  background: $white !important;
  box-shadow:
    0px 0px 2px 0px rgba(145, 158, 171, 0.2),
    0px 12px 24px -4px rgba(145, 158, 171, 0.12) !important;
}

.fl-btn-yellow {
  background-color: $yellow;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0.5rem 1.5rem;
  color: $dark;
  font-size: 1rem;
  font-family: $font-main;
  font-weight: 600;
}

.fl-btn-green {
  background-color: $green;
  border-radius:1.5rem;
  border: 0;
  padding: 0.5rem 1.5rem;
  color: $white;
  font-size: 0.8rem;
  font-family: $font-main;
  &:hover {
    background-color: darken($green, 10%);
  }
}

.fl-btn-white {
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0.5rem 1.5rem;
  color: $green;
  font-size: 1rem;
  font-family: $font-main;
  font-weight: 600;
}

.fl-btn-circle-white {
  border-radius: 50%;
  background-color: $white;
  border: $white;
  height: 3rem;
  width: 3rem;
  img {
    max-width: 100%;
  }
}

.fl-btn-dark {
  background-color: $dark;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0.5rem 1.5rem;
  color: $white;
  font-size: 1rem;
  font-family: $font-main;
  font-weight: 600;
}

.fl-btn-outline-dark {
  background-color: $white;
  border: 1px solid $dark;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
  color: $dark;
  font-size: 1rem;
  font-family: $font-main;
  font-weight: 600;
}

.fl-free-btn {
  button {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-inline: 2rem;
    &::after {
      content: "";
      background-image: url("../../CustomAssets/BuyerImages/free.gif");
      height: 100%;
      width: 3rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-left: -1.2rem;
      z-index: 2;
    }
  }
}

.fl-white-free-btn {
  button {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding-inline: 2rem;
    &::after {
      content: "";
      background-image: url("../../CustomAssets/BuyerImages/white-free.gif");
      height: 100%;
      width: 3rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-left: -1.2rem;
      z-index: 2;
    }
  }
}

.fl-glass-bg {
  border-radius: 17px;
  border: 0px solid #efefef;
  background: linear-gradient(133deg, rgba(239, 239, 239, 0.6) -24.93%, rgba(255, 255, 255, 0.1) 109.66%);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.0250000953674316px);
}

.fl-right-border-line {
  .line {
    width: 100%;
    height: 1px;
    background-color: $card-border;
    display: inline-block;
  }
}

.border-raidus-10 {
  border-radius: 0.625rem;
}

.fl-img-1-1 {
  aspect-ratio: 1/1;
}
.fl-img-4-2 {
  aspect-ratio: 4/2;
}

.fl-img-4-3 {
  aspect-ratio: 4/3;
}

.fl-img-16-9 {
  aspect-ratio: 16/9;
}

.fl-img-16-10 {
  aspect-ratio: 16/10;
}

.fl-text-justify {
  text-align: justify;
}

.fl-counter-heading {
  font-size: 2.65rem;
  font-weight: 600;
}

.fl-border {
  border: 0.25px solid $medium-grey;
}

.fl-border-green {
  border-color: $green !important;
}
.fl-border-dark-green {
  border-color: $dark-green !important;
}

.fl-light-gray-pill {
  border-radius: 8px;
  border: 1px solid $green;
  background: "gray";
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  color: $green;
  text-align: center;
  text-align: center;
  padding-block: 0.5rem;
  width: 100%; /* Responsive width */
  min-width: 80px;
  max-width: 220px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin: 0;
  }
}

.fl-light-green-pill{ 
  border-radius: 8px;
  border: 1px solid $green;
  background: linear-gradient(0deg, rgba(0, 167, 111, 0.05) 0%, rgba(0, 167, 111, 0.05) 100%), #75dd9924;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  color: $green;
  text-align: center;
  padding-block: 0.5rem;
  width: 100%; 
  min-width: 90px;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin: 0;
  }
}
.buyer-home-why-choose{
  padding: 2rem 0 2rem 0;
  background: #F0FFFA;
  background: url("../../CustomAssets/BuyerImages/green-grass.png") repeat-x center bottom #F0FFFA;
  background-size: 30%;
  .why-choose-card{
    height: 100%;
    border-radius: 1rem;
    box-shadow:
      0px 0px 2px 0px rgba(145, 158, 171, 0.2),
      0px 12px 24px -4px rgba(145, 158, 171, 0.12);
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.600);
    
    &:hover {
      transform: translateY(-10px);
      background: $white;
    }
    .icon-wrapper{
      display: table;
      margin: auto;
      padding: 10px;
      border-radius: 50%;
      color: $white;
      background: $green-light;
    }
    .card-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: grid;
      place-content: center;
      margin-bottom: 1rem;
      svg {
        width: 2rem;
        height: 2rem;
        color: $white;
      }
    }
    .card-title {
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem 0 0;
      font-family: $font-main;
      text-align: center;
      font-weight: 600;

    }
  }
}
.PropertyCard-wrapper{
  border-radius: 2rem;
  background: $white;
  position: relative;
  .favorite-checkbox-wrapper{
    position: absolute;
    right: 20px;
    z-index: 1;
    top: 20px;
     background: rgba(19, 19, 19, 0.3);
     border-radius: 0.5rem;
     padding: 0.2rem;
     svg{
      width: 1.5rem;
      height: 1.5rem;
      color: $white;
     }
  }
  .PropertyCard-link{
    cursor: pointer;
     position: relative;
     overflow: hidden;
     display: block;
    border-radius: 2rem;
  }
  img{
    border-radius: 2rem;
    height: 20rem;
    
     padding: 0.5rem;
  }
  .card-info{
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    border-radius:0 0 2rem 2rem;
    padding:0 1.5rem;
    color: #fff;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .property-category{
      background: rgba(255, 255, 255, 0.600);
      display: inline-block;
      padding: 0.3rem 1rem;
      border-radius: 15rem;
      font-size: 0.8rem;
      font-weight: 600;
      text-shadow: 2px;
      margin-bottom: 10px;
    }
    .property-title{
      font-size: 1rem;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 0 5px;
    }
    .property-location{
       font-size: 0.9rem;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 0 10px;
      opacity: 0.8;
    }
    
  }
  .small-title{
    font-size: 0.8rem;
    display: block;
    color: #000;
    opacity: 0.6;
  }
  .main-info{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
  }
  .postedBy{
    text-align: center;
    padding: 0.3rem;
    font-weight: 600!important;
    border-top: 1px solid #ebebeb;
  p{
      font-size: 0.7rem!important;
  }
  }
 
}
@media (max-width: 768px) {
  .fl-light-gray-pill {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    font-size: 0.95rem;
    padding-block: 0.4rem;
  }
  .search-section .row > div[class^='col-'] {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.buyer-home-header {
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;
  background: transparent;
  .main-menu-color{
    color:$white;
  }
  
}
.buyer-header-scroll{
  background: #F0FFFA;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  .main-menu-color{
    color:$dark;
  }
}

.slick-slide {
  padding: 0 15px;
}
.slick-list {
  margin: 0 -20px;
}

.buyers-main {
  font-family: $font-main !important;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  // overflow: hidden !important;
  width: 100%;
  height: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: $font-main !important;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .dropdown-toggle::after {
    all: unset;
  }
}

.grid-place-center {
  display: grid;
  place-content: center;
}

.fl-header-search-wrapper {
  border-radius: 12px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  width: 45%;
  z-index: 1100;
  position: relative;
}


.fl-home-banner-hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)),
    url("../../CustomAssets/BuyerImages/main-banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 1;
  h1{
    font-size: 1.5rem;
  }
}
.inner-page-default{
  background: $green-light;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 5.5rem;
}
.fl-banner-heading {
  font-size: 3.4rem;
  font-family: $font-main;
}
.fl-banner-heading-normal {
  font-size: 1rem;
  font-family: $font-main;
  font-weight: 600;
}
.bottom-Card{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
.propCard {
  margin: auto;
}

.fl-property-detail-banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../../CustomAssets/BuyerImages/detail-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 36.3rem;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;  
    filter: blur(0.625rem); 
    z-index: 1; 
    // opacity: 0.9; 
  }
  img {
    z-index: 2;
    position: relative; 
    aspect-ratio: 16/9;
    height: 100%;
    object-fit: contain;
  }
}

.fl-bg-border-light-green {
  border: 1px solid $green !important;
  background-color: rgba(0, 167, 111, 0.05) !important;
}

.explore-wrapper {
  
}
.property-detail-wrapper { 
  background: $white !important;
  position: relative;
  z-index: 3;
}

.fl-about-banner-hero {
  background: url("../../CustomAssets/BuyerImages/about-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
  display: grid;
  align-content: end;
  .fl-banner-heading {
    font-size: 3.4rem;
    font-family: $font-main;
  }
  .fl-banner-heading-normal {
    font-size: 2rem;
    font-family: $font-main;
    font-weight: 600;
  }
}

.fl-heading-banner {
  background: $light-green;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 100%;
  display: grid;
  align-content: end;
}

.fl-small-card {
  .small-card-img-wrapper {
    position: relative;
    object-fit: contain;
    overflow: hidden;
    border-radius: 0.6rem;
    h3 {
      z-index: 1;
    }
    .small-card-img {
      width: 100%;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        left: 0;
        bottom: 0;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .fl-small-card-detail {
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.fl-count-card {
  position: relative;
  .overflow-heading {
    position: absolute;
    z-index: 3;
    font-size: 8.5rem;
    top: 50%;
    transform: translate(-5.1rem, -50%);
    display: inline-block;
    line-height: normal;
    margin-bottom: 0;
    text-shadow: 2px 2px $dark;
  }
}

.fl-testimonial-card {
  background-color: $white;
  padding: 1.5rem;
  .upper-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      .profile-img {
        img {
          display: inline-block;
          width: 4rem;
          height: 4rem;
          aspect-ratio: 1/1;
          border-radius: 50%;
        }
      }
    }
  }
  p {
    line-height: normal;
    font-weight: 500;
    min-height: 6.42rem;
  }
}

.fl-client-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.dev-header-wrapper {
  display: grid;
  grid-template-columns: 26% auto;
  gap: 0.5rem;
  align-items: center;
  .dev-img {
    img {
      object-fit: contain;
    }
  }
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: .8rem;
  align-items: start;
  .dev-img {
    img {
      object-fit: contain;
    }
  }
}

.dev-content {
  height: 4.7rem;
}
.dev-header-heading {
  h3 {
    font-size: 1.8rem;
  }
}

.explore-card {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.4rem;
  width: 150px;
  height: 50px;
  overflow: hidden;
  img {
      width: 150px;
      height: 50px;
      object-fit: cover;
      opacity: .5;

    }
    &:hover {
      img {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        opacity: 1;
      }
      h4 {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }

  
  h4 {
    position: absolute;
    z-index: 1;
    display: inline-block;
    margin-inline: auto;
    font-weight: 600;
    font-size: 1rem;
    font-family: $font-main;
    transition: all 0.5s ease-in-out;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    opacity: 0.7;
  }

 
}
.explore-btn{
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0rem;
  .title{
    color: $green;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
  }
  span{
    color: $green-light;
    font-weight: 500;
    font-size: 1.1rem;
    display: block;
    font-weight: 600;
  }
}
.slick-dots {
  margin-top: 1rem;
  li {
    width: auto !important;
    height: auto !important;
    button {
      border-radius: 5px !important;
      width: 2rem;
      height: 10px;
      border: 0;
      background-color: rgba(245, 176, 65, 0.2);
    }
  }
  li.slick-active button {
    background-color: $yellow !important;
    width: 2rem;
    height: 10px;
    border: 0;
  }
}

.fl-property-card {
  border: 1px solid #eeeeee!important;
  z-index: 2;
  position: relative;
}

.fl-property-card.amenities-card {
  .css-ahj2mt-MuiTypography-root,
  span {
    font-size: 0.85rem;
  }
  img,
  svg {
    width: 3rem;
    height: 3rem;
  }
  .css-j204z7-MuiFormControlLabel-root {
    width: 60%;
    margin-right: 0;
  }
}

.blog-iframe-wrapper-slide {
  .slick-slider {
    margin-inline: 1rem;
    .slick-list .slick-track .slick-slide {
      padding-inline: .5rem;
    }
  }
}

.blog-cards {
  iframe {
    aspect-ratio: 16/10;
    height: auto;
  }
}

.curated_section-wrapper {
  .slick-slider {
    .slick-list {
      overflow: unset;
      overflow-x: clip;
    }
  }
}

.fl-curated-card {
  position: relative;
  border-radius: 1.2rem;
  margin-bottom: 8rem;

  .curated-img {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      left: 0;
      bottom: 0;
      border-radius: 1.2rem;
    }
    img {
      aspect-ratio: 16/8;
      border-radius: 1.2rem;
    }
  }
  .curated-detail {
    position: absolute;
    bottom: -10rem;
    width: 100%;
    padding: 1.5rem 2.3rem;
    z-index: 2;
    .curated-detail-content-wapper {
      background-color: $white;
      width: 100%;
      padding: 1rem;
      .curated-detail-image-wapper {
        margin-top: -4rem;
        .curated-profile-image,
        .favorite-icon {
          display: inline-grid;
          place-content: center;
          background-color: $white;
          border-radius: 50%;
        }
        .curated-profile-image {
          width: 7rem;
          height: 7rem;
          border: 0.1875rem solid $green;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }
        .favorite-icon {
          svg {
            fill: $green;
          }
        }
      }
      .curated-detail-content {
        h4 {
          color: $dark;
          font-size: 1.5rem;
          font-weight: 600;
          font-family: $font-main;
          margin-bottom: 0.25rem;
        }
        p {
          color: $dark;
          font-size: 1.1rem;
          font-weight: 400;
          font-family: $font-main;
        }
      }
    }
  }
}

.slide-item {
  &:first-child {
    .fl-curated-card {
      margin-bottom: 12rem;
    }
  }
}

.fl-property-slide-container {
  position: relative;
  .explore-cta-property {
    width: 100%;
    position: absolute;
    bottom: -1.2rem;
    margin: 0 auto;
  }
}

.fl-home-property-slide-heading {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  h2 {
    background: linear-gradient(to bottom, $green, $green-light, rgba(255, 255, 255, 1));
   
    color: $green-light;
    opacity: 0.1;
    background-clip: text;
    display: inline-block;
    font-size: 10rem;
    font-family: $font-main;
    text-transform: uppercase;
  }
  h3 {
    color: $green;
    font-size: 2rem;
    font-family: $font-main;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
  }
}

.fl-home-property-slide-heading-1 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  h2 {
    background: linear-gradient(to bottom, rgba(192, 119, 1, 1), rgba(245, 176, 65, 1), rgba(255, 255, 255, 1));
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgba(192, 119, 1, 1);
    color: rgba(192, 119, 1, 1);
    background-clip: text;
    display: inline-block;
    font-size: 11rem;
    font-family: $font-main;
    text-transform: uppercase;
  }
  h3 {
    color: $dark-yellow;
    font-size: 2rem;
    font-family: $font-main;
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.865), rgba(255, 255, 255, 0.2)),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1));
    bottom: 10%;
  }
}

.fl-home-property-slide-heading-2 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  h2 {
    background: linear-gradient(to bottom, rgba(0, 75, 80, 1), rgba(0, 167, 111, 1), rgba(255, 255, 255, 1));
    -webkit-text-stroke-color: rgba(0, 75, 80, 1);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1.5px;
    color: rgba(0, 75, 80, 1);
    background-clip: text;
    display: inline-block;
    font-size: 11rem;
    font-family: $font-main;
    text-transform: uppercase;
  }
  h3 {
    color: $dark-green;
    font-size: 2rem;
    font-family: $font-main;
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.865), rgba(255, 255, 255, 0.2)),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1));
    bottom: 10%;
  }
}

// property list style

.fl-property-list-breadcrumbs {
  display: flex;
  li {
    &::after {
      content: url("../../CustomAssets/BuyerImages/fl-arrow-right.svg");
      margin: 0 0.4rem;
      display: inline-block;
      vertical-align: middle;
    }
    a {
      color: $dark;
    }
    &:last-child {
      &::after {
        all: unset;
      }
      a {
        color: $medium-grey;
        pointer-events: none;
      }
    }
  }
}

.property-heart {
  font-size: 2rem !important;
}

// peroperty detail

.detail-property-img-main {
  width: 16rem;
  border-radius: 1rem;
  object-fit: contain;
}
.detail-property-main-content {
  margin-top: 0.2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.12);
}

.detail-list-group {
  border-left: 1px solid $card-border;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  li {
    font-size: 1rem;
    a {
      &.active {
        color: $green;
        font-weight: bold;
        &::before {
          content: "";
          position: absolute;
          background-color: $green;
          width: 5px;
          height: 2.4rem;
          left: -2.5px;
          border-radius: 0.2rem;
        }
      }
    }
  }
}

.content-section {
  p {
    font-size: 0.875rem;
  }
  h4 {
    font-size: 1.125rem;
  }
}

.fl-sticky {
  position: sticky;
  top: 7rem;
  height: 100vh; /* Adjust height as needed */
  overflow-y: auto; /* Enable scrolling for sticky sections */
}

.buyer-filters-sticky {
  position: sticky;
  top: 7rem;
  height: 100%; /* Adjust height as needed */
}

.detail-slider-main {
  margin-bottom: 3rem;
  .slick-slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          padding: 0;
          img,
          video {
            aspect-ratio: 4/3;
            border-radius: 0.5rem;
            opacity: 0.5;
            transform: scale(0.8);
            transition: all 0.3s ease;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.16);
          }
          &.slick-active.slick-center {
            img,
            video {
              transform: scale(1);
              opacity: 1;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  }
}

.detail-slider-thumbnails {
  .slick-slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          padding: 0;
          .detail-gallery-slider-mini {
            img,
            video {
              aspect-ratio: 4/3;
              border: 2px solid transparent;
              border-radius: 1rem;
              transform: scale(0.9);
              padding: 0.3rem;
              transition: all 20ms ease-in-out;
            }
          }

          &.slick-active.slick-center {
            .detail-gallery-slider-mini {
              img,
              video {
                border: 2px solid $green;
              }
            }
          }
        }
      }
    }
  }
}

.fullscreen-wrapper {
  width: 75%;
  height: 75%;
}

.mobile-header-logo {
  all: unset !important;
  position: relative !important;
  &::after,
  &::before {
    all: unset !important;
  }
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2); /* Zoom in to 120% */
  }
}

.zoom-animation {
  animation: zoomInOut 1.5s ease-in-out infinite;
  animation-delay: 2s; /* Adjust delay as needed */
}

// Developer style

.developer-img-main {
  width: 12rem;
  border-radius: 1rem;
  object-fit: contain;
}

.single-img-preview {
  position: relative;
  transition: all 300ms ease-in-out;
  z-index: 1;
  &:hover {
    // filter: blur(2px);
    backdrop-filter: blur(2px);
    .detail-hover-btn {
      opacity: 1;
      bottom: 50%;
    }
  }
  .detail-hover-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition:
      opacity 300ms ease-in-out,
      bottom 300ms ease-in-out;
    z-index: 20;
    // filter: blur(0);
    backdrop-filter: blur(0);
    width: 100%;
    text-align: center;
  }
}

.blog-share-list {
  li {
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: $bg-light-gray;
    width: 3.5rem;
    height: 3.5rem;
    transition: all 300ms ease-in-out;
    a {
      color: $gray;
    }
    &:hover {
      background-color: $green;
      a {
        color: $white;
      }
    }
  }
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-detail-img {
  img,
  iframe {
    aspect-ratio: 4/2;
    border-radius: 0.625rem;
    width: 100% !important;
    height: unset;
  }
}

.blog-detail-content {
  h2{
    font-size: 1.75rem;
    font-family: $font-main;
    color: $dark;
    font-weight: 700;
    margin-block: 2rem;
  }
  h3{
    font-size: 1.375rem;
    font-family: $font-main;
    color: $dark;
    font-weight: 700;
    margin-block: 2rem;
  }
  h4{
    font-size: 1.125rem;
    font-family: $font-main;
    color: $dark;
    font-weight: 700;
    margin-block: 2rem;
  }
  h5{
    font-size: 1rem;
    font-family: $font-main;
    color: $dark;
    font-weight: 700;
    margin-block: 2rem;
  }
  p {
    font-family: $font-main;
    color: $dark;
    font-size: 1rem;
    text-align: justify;
  }
  ul,ol{
    padding-left: 1.5rem;
    list-style: unset;
    li{
      font-family: $font-main;
      color: $dark;
      font-size: .93rem;
      text-align: justify;
      margin-bottom: .8rem;
    }
  }
  img {
    display: block;
    margin-block: 1.2rem;
  }
}

.blog-iframe-wrapper {
  iframe,
  img {
    aspect-ratio: 4/3; 
    object-fit: fill; 
    width: 100%;
    height: auto;
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
  }
}

.legal-update-card-img {
  iframe,
  img {
    aspect-ratio: 4/3;
    width: 12rem;
    min-height: 7rem;
    border-radius: 5px;
  }
}
.legal-update-card-text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.Knowledge-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;  
  overflow: hidden;  
  text-overflow: ellipsis; 
  max-width: 100%;  
  word-break: break-word; 
}

.about-detail-content {
  p {
    font-family: $font-main;
    color: $dark;
    font-size: 1.1rem;
    text-align: justify;
  }
  img {
    display: block;
  }
}

.about-mission-icon {
  width: 30%;
}

.price-range-wrapper {
  width: 20%;
}

// lading style

.fl-landing-list {
  list-style-image: url("../../CustomAssets/BuyerImages/list-arrow-right.svg");
  list-style-position: inside;
  li {
    h4 {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 0.2rem;
      max-width: 90%;
    }
  }
}

.landing-register-form {
  form {
    .btn-log {
      border-radius: 8px;
      background-color: var(--color-primary);
      -webkit-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
      -moz-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
      -o-box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
      box-shadow: 0px 1px 4px 0px rgba(255, 90, 95, 0.3);
      color: #ffffff;
      font-family: "Urbanist";
      font-size: 16px;
      font-weight: bold;
      height: 50px;
      line-height: 1.2;
      margin-bottom: 15px;
    }
  }
}
.login_form {
.btn-log {
  font-size: 12px !important;
}
}
.property-category-wrapper {
  position: relative;
  .property-category-icon {
    position: absolute;
    bottom: 27%;
    left: 0;
    z-index: -1;
  }
}

.header-drop-icons {
  .navbar-nav {
    li:nth-child(2) {
      .dropdown-menu {
        left: -3rem;
      }
    }
  }
}
.header-logo {
  width: 10rem;
}
.footer-logo {
  width: 20rem;
}

.mobile-main-search-hero {
  .mobile-search-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 2rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.03);
    h4 {
      font-size: 1.35rem;
      color: $dark;
    }
  }
}
.mobile-filter-footer {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1600px) {
  .fl-container,
  .fl-container-lg,
  .fl-container-md,
  .fl-container-sm,
  .fl-container-xl,
  .fl-container-xxl {
    max-width: 1600px !important;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .header-filter-search {
    margin-top: 0.4rem;
  }
  .fl-testimonial-card {
    p {
      min-height: 9.4rem;
      font-size: 1rem;
    }
  }
  .blog-card {
    height: 35.5rem;
  }
  .dev-content {
    height: 5rem;
    p{
    font-size: 1rem;
    }
  }
}

@media (max-width: 1440px) {
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .buyer-home-why-choose h3 {
    font-size: 1.2rem;
  }
  .fl-testimonial-card {
    p {
      min-height: 14.4rem;
      font-size: 1rem;
    }
  }
  .blog-card {
    height: 41.5rem;

  }
  .dev-content {
    height: 6rem;
    p{
    font-size: 1rem;
    }
  }
  .dev-list {
    li {
      a {
        font-size: 1.125rem;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .fl-container,
  .fl-container-lg,
  .fl-container-md,
  .fl-container-sm,
  .fl-container-xl,
  .fl-container-xxl {
    max-width: 1100px !important;
  }
  .fl-header-search-wrapper {
    .form-control,
    .form-select {
      height: 3.2rem;
    }
  }
  .header-filter-search > * {
    width: 1.8rem;
  }
  // .buyer-home-logo > * {
  //     width: auto;
  // }
  .search-section {
    h5 {
      font-size: 1.25rem;
    }
  }
  .fl-small-card {
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .fl-property-card {
    h5 {
      font-size: 1.25rem;
    }
    h3 {
      font-size: 2rem;
    }
    h2 {
      font-size: 2.5rem;
    }
  }
  .blog-cards {
    h3 {
      font-size: 2rem;
    }
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .fl-mt-n-6 {
    margin-top: -8.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .fl-container,
  .fl-container-lg,
  .fl-container-md,
  .fl-container-sm,
  .fl-container-xl,
  .fl-container-xxl {
    max-width: 900px !important;
  }
  .fl-header-search-wrapper {
    .form-control,
    .form-select {
      height: 3.2rem;
    }
  }
  .header-filter-search > * {
    width: 1.8rem;
  }
  .buyer-home-logo > * {
    width: 10rem;
  }
  .blog-card {
    height: 42.5rem;
  }
  .dev-content {
    height: 8rem;
  }
}

.mobile-serach {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-banner {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 10rem;
      background: linear-gradient(0deg, #ecfbf6 0%, rgba(236, 251, 246, 0) 100%);
      z-index: 1;
      pointer-events: none;
    }
    .mobile-serach {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: -3.2rem;
      width: 90%;
      display: flex;
      justify-content: center;
      z-index: 10;
      .mobile-search-input-wrapper {
        width: 90%;
        position: relative;
        .mobile-search-input {
          border: 1px solid $green;
          border-radius: 0.5rem;
          background-color: $white;
          padding: 0.7rem 1rem;
          display: inline-block;
          width: 100%;
          &::placeholder {
            color: $gray;
            font-size: 1.1rem;
          }
          &:focus {
            outline: none;
          }
        }
        .mobile-search-icon {
          position: absolute;
          display: inline-block;
          right: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
          background-color: $white;
          svg {
            fill: $green;
          }
        }
      }
    }
  }
  .mobile-explore {
    padding-top: 7rem;
  }
  .mobile-search-input-wrapper {
    position: relative;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .buyers-main {
    .fl-heading-2 {
      font-size: 1.8rem;
    }
    .fs-22 {
      font-size: 1.1rem;
    }
  }
  .fl-home-banner-hero {
    height: 25rem;
    .fl-banner-heading {
      font-size: 2.5rem;
      margin-bottom: 1.1rem;
    }
    .fl-banner-heading-normal {
      font-size: 1.6rem;
    }
  }
  .explore-card {
    h4 {
      font-size: 1.2rem;
    }
    &:hover h4 {
      transform: translateY(-2.5rem);
      font-size: 1.5rem;
    }
  }
  .fl-curated-card {
    .curated-detail {
      // p {
      //     margin-bottom: 1rem !important;
      // }
    }
  }
  .blog-card {
    height: 33.5rem;
  }
}

@media (max-width: 992px) {
  .buyer-home-header {
    display: none;
  }

  .fl-heading-banner {
    height: auto;
  }
  // .fl-sticky {
  //     position: relative;
  //     top: auto;
  //     height: 100%;
  // }
  .fl-sticky {
    position: sticky;
    top: 0;
    height: 100%;
    background: $white;
    z-index: 10;
  }
  .fl-property-detail-banner {
    height: 14rem;
  }
  .explore-wrapper {
    margin-top: -5rem;
  }
  .detail-property-img-main {
    aspect-ratio: 4/3;
  }
  .detail-property-main-content {
    border-bottom-left-radius: 1rem !important;
    border-top-left-radius: 1rem !important;
  }
  .detail-hover-btn {
    .fl-btn-white {
      font-size: 0.8rem;
    }
  }
  .detail-list-group {
    flex-direction: row;
    border: 0;
    li a.active {
      position: relative;
      &::before {
        bottom: -0.5rem;
        left: unset;
        width: 100%;
        height: 5px;
      }
    }
  }
  .price-range-wrapper {
    width: unset;
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .buyers-main {
    .fl-heading-2 {
      font-size: 1.7rem;
    }
    .fs-22 {
      font-size: 1.1rem;
    }
  }
  .fl-home-banner-hero {
    height: 25rem;
    .fl-banner-heading {
      font-size: 2.5rem;
      margin-bottom: 1.1rem;
    }
    .fl-banner-heading-normal {
      font-size: 1.6rem;
    }
  }
  .explore-card {
    .explore-img img {
      aspect-ratio: 1/1;
    }
    h4 {
      font-size: 1rem;
    }
    &:hover h4 {
      transform: translateY(-2.5rem);
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 576px) {
  .buyers-main {
    .fl-heading-2 {
      font-size: 1.5rem;
    }
    .fl-fs-20 {
      font-size: 1.1rem;
    }
    .fs-22 {
      font-size: 1.1rem;
    }
    .fl-fs-22 {
      font-size: 1rem;
    }
    .fl-fs-24 {
      font-size: 1.1rem;
    }
    .fl-banner-heading {
      font-size: 2.75rem;
    }
    .fl-banner-heading-normal {
      font-size: 1.5rem;
    }
    .blog-heading {
      font-size: 1.65rem;
    }
    .login_form.inner_page {
      padding-inline: 0;
    }
  }
  .fullscreen-wrapper {
    width: 95%;
    margin-inline: auto;
    .fullscreen-preview {
      aspect-ratio: 1/1;
    }
  }
  .footer-logo {
    width: 15rem;
  }
  .mobile-search-input {
    &::placeholder {
      font-size: 0.9rem !important;
    }
  }

  .BlogSlider-wrapper {
    .slick-slider {
      .slick-prev {
        left: -0.1rem;
      }
      .slick-next {
        right: -0.1rem;
      }
    }
  }
  .blog-iframe-wrapper-slide {
    .slick-slider {
      .slick-list .slick-track .slick-slide {
        padding: 0.3rem;
      }
    }
  }

  .explore-card h4 {
    font-size: 0.85rem;
  }

  .home-blog-section {
    .slick-slider {
      .slick-list {
        .slick-slide {
          padding-inline: 1px;
          img {
            aspect-ratio: 4/3;
          }
          .fl-btn-circle-white {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
      .slick-prev {
        left: -1.6rem;
      }
      .slick-next {
        right: -2rem;
      }
    }
  }
  .fl-testimonial-card .upper-content .profile .profile-img img {
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    width: 5.8rem;
  }

  .blog-share-list li {
    width: 2rem;
    height: 2rem;
  }

  .buyer-home-header {
    .buyer-home-nav {
      .buyer-home-logo {
        display: block;
        width: 100%;
        // order: 0;
      }
      .fl-header-search-wrapper {
        width: 80%;
        // order: 2;
        display: none;
      }
      .header-drop-icons {
        // display: none;
        // width: 50%;
        // .navbar-nav{
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        //     gap: .5rem;
        // }
        // order: 1;
      }
    }
  }

  .detail-property-main-content {
    h3 {
      font-size: 1.2rem;
      text-wrap: wrap;
      word-wrap: break-word;
      width: 100%;
    }
    p {
      font-size: 0.85rem;
    }
  }
  .detail-property-img-main {
    width: 55%;
  }
  .detail-content-box {
    .overview-content {
      h4 {
        font-size: 1rem;
      }
      p {
        font-size: 0.77rem;
      }
    }
    .fl-property-card.amenities-card {
      .css-ahj2mt-MuiTypography-root,
      span {
        font-size: 0.85rem;
      }
      img,
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
  .mobile-preview-slide {
    .slick-slide {
      padding-inline: 0;
      img {
        aspect-ratio: unset;  
      }
    }
    .slick-arrow {
      &.slick-prev {
        left: -2.2rem !important;
      }
      &.slick-next {
        right: -2.2rem !important;
      }
    }
  }
  .slide-cross-btn {
    right: -1.2rem !important;
    svg {
      width: 0.8em !important;
      height: 0.8em !important;
    }
  }

  .social-cta {
    button {
      // span{
      //     display: none;
      // }
    }
  }

  .fl-home-banner-hero {
    // padding-top: 0;
    // padding-bottom: 1rem;
    height: 25rem;
    .fl-banner-heading {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .fl-banner-heading-normal {
      font-size: 1rem;
    }
  }
  .explore-card:hover h4 {
    transform: translateY(-4rem);
  }
  .fl-curated-card {
    // .curated-img img {
    //     aspect-ratio: 4 / 3;
    // }
    .curated-detail {
      bottom: -12rem;
      padding: 1rem;
      // p {
      //     margin-bottom: 1.2rem 1.7rem !important;
      // }
      .fl-btn-yellow {
        font-size: 0.7rem;
      }
    }
  }
  .fl-curated-card .curated-detail .curated-detail-content-wapper {
    h3 {
      font-size: 1.3rem !important;
    }
    .curated-detail-content {
      h4 {
        font-size: 1.2rem;
      }
      p {
        font-size: 0.95rem;
      }
    }
  }

  .buyer-home-why-choose {
    h2 {
      margin-bottom: 2rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
  .fl-home-property-slide-heading-0,
  .fl-home-property-slide-heading-1,
  .fl-home-property-slide-heading-2 {
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 1.25rem;
      bottom: 0;
    }
  }
  .explore-cta-property {
    button {
      font-size: 0.85rem;
    }
  }
  .buyer-home-trending {
    .fl-fit-content {
      width: 100% !important;
    }
  }
}
